body {
	margin: 0;
	padding: 0;
	background: #fafafa !important;
}

.page-heading {
	height: 70px;
	line-height: 70px;
	border-top: none;
	border-bottom: none;
}

.page-heading .heading {
	text-transform: uppercase;
	float: left;
	font-size: 18px;
	letter-spacing: 1px;
}

.page-heading .right {
	float: right;
}

.card {
	box-shadow: none !important;
	border: 1px solid #eee !important;
}
