@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
	margin: 0;
	padding: 0;
	background: #fcfcfc !important;
	font-family: 'Nunito', sans-serif !important;
}

.card {
	border: 1px solid #fafafa !important;
	box-shadow: 0 4px 20px -6px #eee !important;
}

.cards {
	margin: 0 !important;
}
