.address {
	text-transform: uppercase;
}

.right {
	float: right;
}

.sticky-account-heading {
	position: sticky;
	top: 75px;
	background: #FFF !important;
	z-index: 199;
	box-shadow: 0 8px 6px -6px #DDD !important;
}
