.action-buttons {
	position: fixed;
	width: 100%;
	background-color: #fafafa !important;
	border-top: 1px solid #ddd !important;
	padding: 8px;
	bottom: 0px;
	text-align: right !important;
	z-index: 100000 !important;
}
