.header-main {
	position: fixed !important;
	top: 0 !important;
	background: rgba(255, 255, 255, 0.98);
	height: 70px;
	line-height: 70px !important;
	color: #fff;
	z-index: 2000;
	box-shadow: 0 4px 6px -6px #f1f1f1 !important;
	width: 100% !important;
}

.logo12 {
	font-weight: 300 !important;
	letter-spacing: 1px;
	font-size: 25px;
	margin-left: 10px;
	float: left;
	margin-top: 15px;
	text-transform: uppercase;
}

.logo12 a {
	color: #333 !important;
}

.links {
	margin-left: 30px;
	float: right;
}

.links li {
	list-style: none;
	display: inline-block;
}

.links li a {
	display: inline-block;
	padding: 0 20px;
	color: #555 !important;
}

.links li a:hover {
	background: #fcfcfc !important;
	color: black !important;
}

.is-active {
	background: #fcfcfc !important;
	color: black !important;
}

.links li a:hover {
	-webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.links li a.active {
	background: #3157f1;
}

.links .search {
	margin-right: 20px !important;
}

.links .search input {
	width: 300px !important;
}
